@use "../../styles/variables.scss" as var;

@use "sass:color";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
  border-radius: 0.2rem;
  box-shadow: var.$boxShadow;
}

.primary {
  background-color: color.scale(var.$primaryColor, $lightness: -15%);
  box-shadow: var.$boxShadow;
  color: var.$textColor;
  font-size: 1.2rem;
  &:hover {
    background-color: color.scale(var.$primaryColor, $lightness: -10%);
  }
}

.secondary {
  background-color: color.scale(var.$secondaryColor, $lightness: -15%);
  box-shadow: var.$boxShadow;
  color: var.$textColor;
  font-size: 1.2rem;
  &:hover {
    background-color: color.scale(var.$secondaryColor, $lightness: 5%);
  }
}

.outline {
  border: solid 2px var.$textColor;
  background: none;
  box-shadow: var.$boxShadow;
  color: var.$textColor;
  font-size: 1.2rem;
  line-height: 2rem;
  &:hover {
    border: solid 2px var.$infoColor;
    color: var.$infoColor;
  }
}

.icon {
  position: absolute;
  transform: translateY(-50%, 0);
  left: 1rem;
}

.disabled {
  background-color: color.scale(var.$mutedColor, $lightness: -15%);
  box-shadow: var.$boxShadow;
  color: var.$textColor;
  font-size: 1.2rem;
  cursor: default;
}
