@use "../../../styles/variables.scss" as var;

@use "sass:color";

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 100%;
  top: 0;
  background-color: var.$secondaryColor;
  transition: left 0.25s ease;
  @include var.tablet {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    width: auto;
  }
}

.open {
  left: 0;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  @include var.tablet {
    flex-direction: row;
  }
}

.li {
  display: flex;
  align-items: center;
  margin: 0 auto;
  @include var.tablet {
    margin-left: 1rem;
  }
}

.a {
  display: flex;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var.$backgroundColor;
  &:hover {
    color: var.$infoColor;
  }
  @include var.tablet {
    padding: 0;
  }
}

.active {
  color: color.scale(var.$infoColor, $lightness: 25%);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  @include var.tablet {
    flex-direction: row;
  }
}

.user {
  display: flex;
  text-decoration: none;
  font-size: 1.2rem;
  color: var.$backgroundColor;
  margin: 1rem 0;
  @include var.tablet {
    margin: 0 2rem 0 0.5rem;
  }
}

.icon {
  color: var.$backgroundColor;
  height: 1.5rem;
  width: 1.5rem;
}
