/* ----------------------------- */
/* --- --- --- Fonts --- --- --- */
/* ----------------------------- */

/* --- --- --- Open Sans --- --- --- */

/* --- Normal --- */

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype"),
    url("/fonts/OpenSans-VariableFont_wdth,wght.woff") format("truetype"),
    url("/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("truetype");
  font-weight: 400, 500, 600, 700, 800;
}

/* --- Italic --- */

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff") format("truetype"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2")
      format("truetype");
  font-weight: 400, 500, 600, 700, 800;
  font-style: italic;
}
