/* --------------------------------- */
/* --- --- --- Variables --- --- --- */
/* --------------------------------- */

/* --- --- --- Colours --- --- --- */

$primaryColor: #3c91e6;
$secondaryColor: #9fd356;

$darkColor: #011627;
$lightColor: #fafffd;

$mutedColor: #fffaff;
$errorColor: #f71735;
