@use "../../styles/variables.scss" as var;

.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;

  @include var.tablet {
    max-width: var.$tabletBreakpoint;
    padding: 0;
  }
}

.minicontainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 20rem;
}

.loadingcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var.$backgroundColor;
}
