@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;

  @include tablet {
    max-width: $tabletBreakpoint;
    padding: 0;
  }
}
