@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@include themify($themes) {
  .header {
    min-height: 4rem;
    background-color: themed("bg");
    box-shadow: $boxShadow;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      min-height: 5rem;
    }
    &__title {
      font-size: 1.2rem;
      color: themed("text");
      transition: color 0.25s ease;
      text-decoration: none;

      &:hover {
        color: $infoColor;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}
