@use "../../styles/variables.scss" as var;

.header {
  min-height: 4rem;
  background-color: var.$secondaryColor;
  box-shadow: var.$boxShadow;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  @include var.tablet {
    min-height: 5rem;
  }
}

.logo {
  font-size: 1.2rem;
  color: var.$textColor;
  transition: color 0.25s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;

  &:hover {
    color: var.$infoColor;
  }
}

.title {
  display: none;
  padding: 0.15rem 0 0 0;
  height: 100%;
  @include var.tablet {
    display: flex;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  @include var.tablet {
    display: none;
  }
}

.icon {
  color: var.$backgroundColor;
  height: 1.5rem;
  width: 1.5rem;
  &:hover {
    color: white;
  }
}

.favicon {
  margin: 0 0.75rem 0 0;
  height: 1.5rem;
  width: 1.5rem;
}
